.container{
    margin-bottom: 100px;
}
.bagpack-brand{
    color: #76C27E;
}
.bagpack-brand2{
    color: #363958;
}
.introduction-section{
    background-color:  white;
}
.service-grid{
    display: grid;
    grid-gap: 20px 10px;
}

.grid-col{
    display: flex;
    border-radius: 10px;
    background-color: #FFFFF4;
}
.grid-col img{
    width: 80px;
    justify-content: center;
    align-items: center;
}
.service-large img{
    width: 100%;
}
.service-large{
    background-color: #FFFFF4;
}
.casual-bagpack{
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px 1px #ccc;
}
.card-img-top{
    background-color: lightgray;
    border-radius: 10px;
}
.casual-bagpack img{
    width: 100%;
}
.btn-buy{
    background-color: #2A1E59!important;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding-top: 11px;
}
.btn-send{
    background-color: #09dbca!important;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding-top: 5px;
}
.card-foot{
    display: flex;
    justify-content: space-between;
}
.card-foot h2{
    color: #76C27E;
}

@media (max-width: 992px){
    .service-web{
        display: none;
    }
}
@media (min-width: 576px){
    .service-mobile{
        display: none;
    }
}
.footer-col a{
    text-decoration: none;
    display: block;
    color: white;
}
.footer-col li{
    list-style-type: none;
}
.copyrights{
    text-align: center;
}
.main-footer{
    padding-top: 10px;
    background-color: rgb(0, 140, 255);
    color: white;
}
.contact-mail{
    display: block;
}
